
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.d1{
    color: #131313;
}
.d2{
    color:#424242;
}
.d3{
    color: #727272;
}

main>section{
    margin-top: 130px;
}
.section-title{
    font-weight: 700;
    font-size: 2.5rem;
    max-width: 468px;
}
/* architect features related styles */
.section-title{
   border-left: 5px solid #FF900E;
   padding-left: 21px;
    }
    .feature-card{
        max-width: 586px;
        border-radius: 8px;
        box-shadow: 0 4px 30px 0 rgba(43, 17, 17, 0.06);
        padding: 30px;
        margin-bottom: 30px;
        /* border: 2px solid lawngreen; */
    }
    .feature-headline{
        font-weight: 600px;
        font-size: 1.25rem;
    }
    .features-section{
        gap: 55px;
    }
    #larger-btn{
        max-width: 342px; 
        border-radius: 8px;
        padding: 46px;
        margin-left: -54px;
        margin-top: -140px;
    }
    #jammbu-btn{
        font-weight: 700;
        font-size: 4rem;
        color: rgba(255, 255, 255, 1);
    }
    #cikna-btn{
        font-weight: 500;
        font-size: 1.25rem;
        color: rgba(255, 255, 255, 1);
    }
/* team and features related style */
main{
    max-width: 1440px;
    margin: 0 auto;
    
}

.team{
   
    align-items: center;
    justify-content: center;
    gap: 74px;
}

.team-images-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features{
    max-width: 537px;
   }
#quick{
    font-weight: 500;
    font-size: 2.5rem;
} 
#orange{
   color:#FF900E;
}

/* header styles */
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
/* navbar related styles */
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 3rem;
   font-weight: 700px;
}
.nav-link{
    text-decoration: none;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.primary-brn{
    background-color: #FF900E;
    color: white;
    font-weight: 600px;
    font-size: 1.25rem;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}
/* Banner related style  */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight:700px;
}
.banner-description{
    line-height: 16px;
}
.banner-img{
    width: 100%;
}
/* fact related style */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.number{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.fact-title{
    font-weight: 600;
    font-size: 1.25rem;
}
/* sponsors related styles */
.sponsor-content{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-company img{
    filter: grayscale(100%);
}
.architect-image img{
    width: 100%;
}
/* footer section style */
footer{
    max-width: 1440px;
    background-color: #FFF4E7;
     border-radius: 8px;
    
}
.d2{
    text-align: center;
  padding-top: 38px;
  padding-bottom: 38px;
 
  font-size: 1.25rem;
  font-weight: 500px;
}
/* media quary for mobile */
@media  screen and (max-width:576px) {
    .navbar ,
    .nav-links,
    .team,
    .features-section
    {
        flex-direction: column;
    }
    .team-images-container,
    .fact-container
    ,.sponsor-company{
        grid-template-columns: repeat(1,1fr);
        gap: 24px;
    }
    .fact-container,.sponsor-company{
        justify-items: center;
    }
    #larger-btn{
        margin-left: 20px;
        margin-top: 20px;
    }
    
}
/* for medium quary */
@media  screen and (min-width:576px) and (max-width:992px) {
    
    .team,.features-section{
        flex-direction: column;
    }
    #jammbu-btn{
        font-weight: 700;
        font-size: 4rem;
        color: rgba(255, 255, 255, 1);
    }
}